# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_VIBRAPHONE_LEFT
	def_bool $(shields_list_contains,vibraphone_left)

config SHIELD_VIBRAPHONE_RIGHT
	def_bool $(shields_list_contains,vibraphone_right)
